{% extends 'main.html' %}

{% block content %}


<section class="about-container">

        <h2>About This Project</h2>

        <p>This project was built as part of my journey to become a fullstack web developer.</p>
      
        <p>Throughout the development process, I gained hands-on experience in both frontend and backend development. I learned how to build responsive interfaces, manage data using databases, and create a smooth user experience. This project helped me improve my problem-solving skills, understand project structure, and follow good coding practices.</p>
      
        <h3>Technologies I Used</h3>
        <ul>
          <li><strong>Frontend:</strong> HTML, CSS</li>
          <li><strong>Backend:</strong> Python, Django</li>
          <li><strong>Database:</strong> SQLite (for development)</li>
          <li><strong>Tools:</strong> GitHub, VS Code</li>
        </ul>
      
        <h3>About Me</h3>

        <p>My name is Abdul Raheem, a Fullstack Developer with a passion for solving real-world problems through code. I’ve completed a Python Fullstack Development course and love building web applications that are both functional and user-friendly. I’m always eager to learn and grow in the field of web development.</p>
      
        <p>Thanks for visiting and checking out my work!</p>

</section>
      

{% endblock content %}